html {
    background: #212539;
    font-family: Montserrat;
    margin:0;
    padding:0;
    
    color: #0AD598;
}

img {
    
    height: 90vh;
    margin-top:10vh;
}

.image {
    margin-left: 20vh;
}

nav ul li{
  list-style: none;
  opacity: 0.9;
    color: #0AD598;
  text-align: center;
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  opacity: 0.8;
    color: #0AD598;
  display: block;
  transition: .3s background-color;
}
 
nav a:hover {
  color: #37a5a5;
}
 
.right {
    display:block;
    float: right;
    margin-right: 50px;
}

.left {
    display: block;
    float: left;
}

